{%extends 'users/authorizationBase.html'%} {%block content%} {%block style%}
<style>
  form {
    margin-top: 10%;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
  }
</style>
{%endblock%}
<form method="POST">
  <br />
  {%csrf_token%}
  <!-- Email input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example1">Username</label>
    {{form.username}}
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example2">Password</label>
    {{form.password}}
  </div>

  <!-- 2 column grid layout for inline styling -->
  

    <div class="col">
        <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
    </div>
  </div>

  <!-- Submit button -->
  

  <!-- Register buttons -->
  <div class="text-center">
    <p>Not a member? <a href="#!">Register</a></p>
    <p>Forgot Password ? <a href="#!">Reset Password</a></p>
   
  </div>
</form>
{%endblock%}
