{%extends 'users/authorizationBase.html'%} {% load crispy_forms_tags %}
<!--hello-->
{%block content%} {%block css%}
<style>
  form {
    width: 50%;
    margin: auto;
  }
</style>
{%endblock%}

<form method="post">
  <h3>Password Reset Form</h3>
  <hr />
  <p>
    Forgotten your password ? Enter your email below so that we can help you to
    reset your password by sending you a link.
  </p>
  {%csrf_token%} {{form|crispy}}
  <br />
  <button type="submit" class="btn btn-outline-primary">Submit</button>
  <div class="text-center">
    <p>Return to Register <a href="{%url 'register_view'%}">Register</a></p>
    <p>
      Return to Login
      <a href="{%url 'login_view'%}">Login</a>
    </p>
  </div>
</form>
{%endblock%}
